@import url('./animation/animation.min.css');


input, button {
  outline: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(36, 36, 36, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
  transition: all .5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

._disabled-block{
  pointer-events: none;
  opacity: 0.6;
}
._disabled-block-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* hover component */
.hover__container .hover__component{
  opacity: 0;
  transition: 0.5s;
}
.hover__container:hover .hover__component{
  opacity: 1;
}